/* index.html css file, general css formate of website. it includes first page with header , footer and body. */

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
body {
  background: #ccc;
  margin: 10px 20px;
  line-height: 1.4;
}
.btn {
  background-color: #333;
  color: #fff;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}
img {
  max-width: 100%;
}

/* Wrapper class. */
.wrapper {
  display: grid;
  grid-gap: 10px;
  margin: 0;
}
.head-1{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.head-1 img{
  height: 80px;
  width: 80px;
  margin-right: 10px;
}
.main-nav{
  position: sticky;
  top:0px;
}

/* Navigation  */
.main-nav ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main-nav a {
  background: #ddd;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.main-nav a:hover {
  background: #333;
  color: #fff;
}

/* Top Container */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "showcase showcase showcase"
    "showcase showcase showcase"
    
}

/* Showcase .which is grid items for Top container.*/
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(../image/showcase.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: #fff;
}
.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: #fff;
}


/* Info is second image in index.html page. whic is grid.*/
.info{
  color: #333;
  font-size: 26px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  background: url("../image/pic2-index.jpg");
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  height: 750px;
  padding: 3rem;
  text-align: center;
  align-items: center;
}

/* Footer . it is common for all pages.*/
footer{
  margin-top: 1rem;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
.flex-link{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex-link a{
  padding: 10px;
  color:  rgb(85, 83, 83);
  /* height: 100px; */
  
}
.flex-link a:hover{
  color: #fff;
}

/* media Query for less than 700px width*/
@media(max-width: 700px){
  .top-container{
    grid-template-areas: 
    "showcase showcase"
    "top-box-a top-box-b";
  }
  .showcase h1{
    font-size: 2.5rem;
  }
  .main-nav ul{
    grid-template-columns: 1fr;
  }
  .info{
    grid-template-columns: 1fr;
  }
  .info .btn{
    display: block;
    text-align: center;
    margin: auto;
  }
}

/* media Query for less than 500px width*/
@media(max-width: 500px){
  .top-container{
    grid-template-areas: 
    "showcase"
    "top-box-a"
    "top-box-b";
  }
}

/* media Query for less than 350px width*/
@media(max-width:350px){
  .wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .head-1{
    justify-content: center;
  }
  .info{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: white;
  }
}