/* .container ul{
    padding-left: 15px;
} */
.container{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    float: left;
    width: 70%;
    /* font-size: 18px; */
    padding: 0 20px;
    box-sizing: border-box;
}
.sidebar{
    float: right;
    width: 30%;
    background-color: rgb(85, 83, 83);
    /* font-size: 18px; */
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

@media(max-width:500px){
    .main{
        width: 100%;
        float: none;
    }
    .sidebar{
        width: 100%;
        float: none;
    }
    .container ul{
        padding-left: 20px;
        width: 100%;
        float: none;
    }
}